* {
  margin: 0;
}

.app {
  text-align: center;
  padding: 15px;
}

.app__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 70px;
}

.app__formButtonContainer {
  margin-left: 10px;
  margin-top: 10px;
}

.app__noTodoMessage {
  color: #95190c;
  margin-top: 70px;
}

/* min Tablet Width */
@media (min-width: 760px) {
  .app__formInputContainer {
    width: 60%;
  }

  .app__formInput {
    width: 100%;
  }

  .app__noTodoMessage {
    margin-top: 90px;
    text-align: center;
  }
}
